@using StartUpTemp.Models;
@model List<PageFeature>

<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
            <h1 class="mb-0">We Are Here to Grow Your Business Exponentially</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="@item.Icon"></i><!--fa fa-cubes text-white-->
                            </div>
                            <h4>@item.Title</h4>
                            <p class="mb-0">@item.Subtitle</p>
                        </div>
                    }
                    
                    
                </div>
            </div>
           
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="~/assets/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->
<!-- Vendor Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 mb-5">
        <div class="bg-white">
            <div class="owl-carousel vendor-carousel">
                <img src="~/assets/img/vendor-1.jpg" alt="">
                <img src="~/assets/img/vendor-2.jpg" alt="">
                <img src="~/assets/img/vendor-3.jpg" alt="">
                <img src="~/assets/img/vendor-4.jpg" alt="">
                <img src="~/assets/img/vendor-5.jpg" alt="">
                <img src="~/assets/img/vendor-6.jpg" alt="">
                <img src="~/assets/img/vendor-7.jpg" alt="">
                <img src="~/assets/img/vendor-8.jpg" alt="">
                <img src="~/assets/img/vendor-9.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
