@using StartUpTemp.Models;
@model List<PageTestimonial>

<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
            <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
            @foreach (var item in Model)
            {
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="~/assets/img/@item.Image" style="width: 60px; height: 60px;">
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">@item.Name</h4>
                            <small class="text-uppercase">@item.Profession</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        @item.Subtitle
                    </div>
                </div>
            }
            
           
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Vendor Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 mb-5">
        <div class="bg-white">
            <div class="owl-carousel vendor-carousel">
                <img src="~/assets/img/vendor-1.jpg" alt="">
                <img src="~/assets/img/vendor-2.jpg" alt="">
                <img src="~/assets/img/vendor-3.jpg" alt="">
                <img src="~/assets/img/vendor-4.jpg" alt="">
                <img src="~/assets/img/vendor-5.jpg" alt="">
                <img src="~/assets/img/vendor-6.jpg" alt="">
                <img src="~/assets/img/vendor-7.jpg" alt="">
                <img src="~/assets/img/vendor-8.jpg" alt="">
                <img src="~/assets/img/vendor-9.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->